@charset "utf-8";
/* darda CSS */
/* Stylesheet for Describing Resources with RDA */
/* Navbar fixed to the top */
body {
  padding-top: 4rem;
}
h1,
h2 {
  display: inline-block;
}
h1 {
  font-size: 1.3rem;
}
h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.1rem;
}
h5 {
  font-size: 1rem;
}
em {
  color: #336699 !important;
  font-weight: 600;
  font-style: italic;
}
.hsep {
  font-size: 1.3rem;
}
ol.al {
  list-style: lower-alpha;
}
ol.num {
  list-style: decimal;
}
/* ol {
  counter-reset: item; 
  list-style-type: none;
}
ol>li { 
  counter-increment: item;
}
ol>li::before { 
  content: counters(item, '.') ' '; 
} */
ul.bull {
  list-style: disc;
}
ul.nobull {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.entbull {
  list-style: circle;
  margin: 1rem;
  padding: 0;
}
.infoBox {
  background-color: #cfe1fc !important;
  border: 1px solid #063377;
  border-radius: 5px;
}
.lodBox {
  background-color: #e7f0fd !important;
  border: 2px solid #063377;
  border-radius: 5px;
}
/* Colours */
.bg-dark,
.dropdown-menu {
  background-color: #063377 !important;
}
/* Site bar */
.siteBar {
  background-color: #336699 !important;
  border: 1px solid #cfe1fc;
  color: #cfe1fc !important;
  font-size: 0.9rem;
}
/* Sequential navigation */
.seqBar {
  border: 1px solid #063377;
  background-color: #063377;
  color: #063377;
  font-size: 0.9rem;
}
.seqRef {
  background-color: #cfe1fc !important;
}
.seqYbr {
  background-color: #fee29a !important;
}
.linkSeq {
  color: #063377;
}
.btnRef {
  /*   background-color: #cfe1fc !important; */
  background-color: transparent;
  border: 1px solid #063377;
}
.btnXd {
  background-color: #fee29a !important;
  border: 1px solid #063377;
  color: #063377;
}
.btnExample {
  background-color: #fee29a !important;
  border: 1px solid #063377;
  color: #063377;
  font-size: 0.8rem;
}
/* Links: to DERRDA (navigation), to RDA Toolkit (guidance and instructions), to RDA Registry (reference) */
* a {
  text-decoration: none;
}
.linkSite:link,
.linkSite:visited,
.linkSite:active {
  color: #cfe1fc;
}
.linkSite:hover {
  color: #ffffff;
}
.linkIn:link,
.linkIn:visited,
.linkIn:active,
.linkOut:link,
.linkOut:visited,
.linkOut:active,
.linkRR:link,
.linkRR:visited,
.linkRR:active,
.linkTK:link,
.linkTK:visited,
.linkTK:active
{
  color: #063377;
}
.linkOut:link,
.linkOut:visited,
.linkOut:active,
.linkRR:link,
.linkRR:visited,
.linkRR:active,
.linkTK:link,
.linkTK:visited,
.linkTK:active
{
  background-color: #e7f0fd !important;
}
.linkIn:hover {
  background-color: #fee29a;
  color: #063377;
}
.linkOut:hover {
  text-decoration: underline;
}
.linkRR:hover {
  background-color: #ffffff !important;
  color: #063377;
}
.linkTK:hover {
  background-color: #cfe1fc !important;
  color: #063377;
}
/* Text effects */
.appellation,
.citeIn {
  font-weight: 600;
}
.noteThis {
  border: 1px solid black;
  text-align: center;
}
/* Special boxes */
.debdec {
  background-color: #ffe6ff;
}
.debtip {
  background-color: #ffe6ff;
}
/* E-r diagram entity colours */
.entityEW {
  background-color: #ffff99;
}
.entityM {
  background-color: #ffcccc;
}
/* Manifestation assessment checklists */
.cxRowCheck,
.cxRowHead {
  border: 1px solid black;
  margin: 0;
  padding: 0.2rem;
}
.cxRowHead {
  background-color: lightgray;
}
