@charset "utf-8";
/* RDAGit CSS */
/* Stylesheet for RDA Registry */
/* Modifies/overwrites standard scheme styles */
/* Navbar fixed to the top */
body {
  font-size: 100%;
  padding-top: 4rem;
}
/* no underlines for links */
* a {
  color: #0033CC;
  text-decoration: none;
}
h1,
h2 {
  display: inline-block;
}
h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.4rem;
}
.crumbSep {
  font-size: 1.6rem;
}
.vocDisplay a:hover {
  color: #3399f3;
  text-decoration: underline;
}
.vocDisplay a:hover,
.vocDisplay a:focus {
  color: #3399f3;
}
.vocDisplay tr {
  border-bottom: 1px solid gray;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.vocDisplay td {
  padding-left: 1rem;
}
.vocDisplay td {
  vertical-align: top;
}
/* List of languages, semantics */
.vocLanguages ul,
.vocSemantics ul {
  list-style-type: none;
}
/* .vocSemantics ul {
  margin: 1rem;
  padding: 0.5rem;
} */
.vocLanguage ul {
  margin: 0;
  padding: 0;
}
.vocLanguages ul li {
  display: inline-block;
  padding-bottom: 0.5rem;
  padding-right: 0.1rem;
  padding-top: 0.5rem;
}
/* Adds white/invisible border to match selection indicator */
.vocLanguages ul li a {
  padding: 0.2rem;
  border: 3px solid #ffffff;
  border-radius: 0.5rem;
}
td.detailLabel {
  vertical-align: top;
  white-space: normal;
}
td.detailValue {
  padding-left: 1rem;
  vertical-align: top;
  white-space: wrap;
}
.btnCollapse,
.btnExpand {
  border-radius: 25%;
  font-weight: 800;
  margin: 0;
  padding: 0;
}
.btnCollapse {
  background-color: #000000;
  border: 1px solid #006600;
  color: #ffffff;
}
.btnExpand {
  background-color: #ffffff;
  border: 1px solid #006600;
  olor: #000000;
}
/* Bootstrap 5 */
/* Colours */
.bg-dark,
.dropdown-menu {
  background-color: #446e9b !important;
}
/* DataTables */
.pindex_detail {
  margin-left: 2rem;
}
/* Protip* /
/* Tooltip background colour */
.protip-skin-default--scheme-aqua.protip-container {
  background: #446e9b;
}
.list-alpha-lower {
  list-style-type: lower-alpha;
}

.page-content .rg-pagecontent img {
  margin: 1em;
}
.page-content .rg-pagecontent dl dd {
  margin-left: 1em;
}
.page-content .rg-pagecontent dl dt {
  font-weight: bold;
}
.page-content .rg-pagecontent tr {
  border-bottom: 1px solid gray;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
.page-content .rg-pagecontent td {
  vertical-align: top;
}
.page-content .rg-pagecontent .faq-a {
}
.page-content .rg-pagecontent .faq-q {
  font-style: italic;
  font-weight: 600;
}
.page-content .rg-pagecontent .listalphau {
  list-style-type: upper-alpha;
}
.rg-image {
  border-style: solid;
  border-width: thin;
  margin: 0.5em;
  padding: 0.5em;
  width: auto;
}
.rg-image img {
  margin: 0;
  max-width: 30em;
  padding: 0;
}
.rg-image p {
  font-style: italic;
  font-weight: 600;
  font-size: 0.9em;
  padding-top: 0.5em;
}
.rg-prompt {
  background-color: #ffffcc;
  border-style: none;
  border-radius: 1em;
  margin: 0.5em;
  padding: 0.5em;
  width: auto;
}
.rg-xbox {
  background-color: #f0f0f0;
  margin: 0.5em;
  padding: 0.5em;
  width: auto;
}
.rg-xbox-key p {
  margin: 0em;
  padding: 0.1em;
}
.rg-photo-clear {
  clear: both;
}
.rg-photo-left {
  float: left;
  margin: 0.5em;
}
.rg-photo-left img {
  margin: 0;
  padding: 0;
}
.rg-photo-left p {
  padding-top: 0.5em;
}
.rg-photo-right {
  float: right;
  margin: 0.5em;
}
.rg-photo-right img {
  margin: 0;
  padding: 0;
}
.rg-photo-right p {
  padding-top: 0.5em;
}
.rg-table table {
  padding: 0.5em;
  width: auto;
}
.rg-table td,
th {
  padding: 0.5em;
  white-space: normal;
  width: auto;
}
.rg-table-triple table {
  padding: 0.5em;
  width: auto;
}
.rg-table-triple td,
th {
  padding: 0.5em;
  white-space: normal;
  width: auto;
}
.rg-table-triple th {
  text-align: center;
}
/* RDAReg CSS */
/* Stylesheet for RDA Registry */
/* Display of detail in datatable */
a,
a:link {
  cursor: pointer
}
table tfoot th,
table tbody th {
  border-top: 1px solid #ddd
}

div.pindex_filter img.delete {
  vertical-align: middle;
  cursor: pointer;
  padding-left: .5em;
}

#pindex {
}
/* table.pindex_detail td.definition {
  padding-left: 1em;
  white-space: normal;
}

.vurllabel {
  white-space: normal;
  min-width: 12em;
} */
