a,a:link{cursor:pointer}body{padding-top:60px}table tfoot th,table tbody th{border-top:1px solid #ddd}footer{padding-bottom:30px}

td.details-control {
    background: url('../images/details_open.png') no-repeat center .5em;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center .5em;
}

table.pindex_detail div.vcanon {
    display:inline;
}

table.pindex_detail div.vurllabel {
     display: inline;
    padding-left: .5em;
 }

div.pindex_filter img.delete {
    vertical-align: middle;
    cursor: pointer;
    padding-left: .5em;
}

td.permalink {
    padding-right:0 !important;
    margin-right:0 !important;
}

.not-active {
    cursor: default;
    color: Gray !important;
}
