/* RDAReg CSS */
/* Stylesheet for RDA Registry */
/* Display of detail in datatable */
a,a:link{cursor:pointer}body{padding-top:60px}table tfoot th,table tbody th{border-top:1px solid #ddd}footer{padding-bottom:30px}

td.details-control {
    background: url('details_open.png') no-repeat center .5em;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('details_close.png') no-repeat center .5em;
}

table.pindex_detail div.vcanon {
    display:inline;
}

table.pindex_detail div.vurllabel {
     display: inline;
    padding-left: .5em;
 }

div.pindex_filter img.delete {
    vertical-align: middle;
    cursor: pointer;
    padding-left: .5em;
}

td.permalink {
    padding-right:0 !important;
    margin-right:0 !important;
}

.not-active {
    cursor: default;
    color: Gray !important;
}
#pindex {
/*     white-space: nowrap; */
}
.pindex_detail tr {
    border: none !important;
}
.pindex_detail {
    margin-left: 2em;
}
.pindex_detail td {
    white-space: nowrap;
}
#pindex .definition {
    /* width: 100%; */
    white-space: normal;
}

table.pindex_detail td.definition {
    padding-left: 1em;
    white-space: normal;
}

.vurllabel {
    white-space: normal;
    min-width: 12em;
}
