@charset "utf-8";
/* RDAGit CSS */
/* Stylesheet for RDA Registry */
/* Modifies/overwrites standard scheme styles */
/* Navbar fixed to the top */
body {
  font-size: 100%;
  padding-top: 4rem;
}
/* no underlines for links */
* a {
  color: #0033CC;
  text-decoration: none;
}
h1,
h2 {
  display: inline-block;
}
h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.4rem;
}
.crumbSep {
  font-size: 1.6rem;
}
.vocMetadata a:hover {
  color: #3399f3;
  text-decoration: underline;
}
.vocMetadata a:hover,
.vocMetadata a:focus {
  color: #3399f3;
}
.vocMetadata tr {
  border-bottom: 1px solid gray;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.vocMetadata td {
  padding-left: 1rem;
}
.vocMetadata td {
  vertical-align: top;
}
/* List of downloads, languages, semantics */
.vocDownloads,
.vocLanguages,
.vocSemantics ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.vocLanguages ul li {
  display: inline-block;
  padding-bottom: 0.5rem;
  padding-right: 0.1rem;
  padding-top: 0.5rem;
}
/* Adds white/invisible border to match selection indicator */
.vocLanguages ul li a {
  padding: 0.2rem;
  border: 3px solid #ffffff;
  border-radius: 0.5rem;
}
/* Bootstrap 5*/
/* Colours */
.bg-dark,
.dropdown-menu {
  background-color: #446e9b !important;
}
.btnShow {
  background-color: white;
  color: black;
  border: 1px solid #4CAF50;
  border-radius: 50%;
  font-size: 0.5rem;
}
/* Protip*/
/* Colours */
.protip-skin-default--scheme-aqua.protip-container {
  background: #446e9b;
}
.list-alpha-lower {
  list-style-type: lower-alpha;
}
.dateUpdated {
  font-style: italic;
  font-size: 0.9rem;
}
/* Page content layout
.page-content .rg-pagecontent a:hover,
.page-content .rg-pagecontent a:focus,
.rg-footer a:hover,
.rg-footer a:focus {
  color: #3399f3;
} */
.page-content .rg-pagecontent img {
  margin: 1em;
}
.page-content .rg-pagecontent dl dd {
  margin-left: 1em;
}
.page-content .rg-pagecontent dl dt {
  font-weight: bold;
}
.page-content .rg-pagecontent tr {
  border-bottom: 1px solid gray;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
.page-content .rg-pagecontent td {
  vertical-align: top;
}
.page-content .rg-pagecontent .faq-a {
}
.page-content .rg-pagecontent .faq-q {
  font-style: italic;
  font-weight: 600;
}
.page-content .rg-pagecontent .listalphau {
  list-style-type: upper-alpha;
}
.rg-footer {
  margin-top: 2em;
}
/* Social sharing */
.rg-footer .btn-facebook:link,
.rg-footer .btn-facebook:visited,
.rg-footer .btn-googleplus:link,
.rg-footer .btn-googleplus:visited,
.rg-footer .btn-linkedin:link,
.rg-footer .btn-linkedin:visited,
.rg-footer .btn-stumbleupon:link,
.rg-footer .btn-stumbleupon:visited,
.rg-footer .btn-twitter:link,
.rg-footer .btn-twitter:visited {
  color: #FFFFFF;
}
.rg-footer .btn-facebook:active,
.rg-footer .btn-facebook:hover,
.rg-footer .btn-googleplus:active,
.rg-footer .btn-googleplus:hover,
.rg-footer .btn-linkedin:active,
.rg-footer .btn-linkedin:hover,
.rg-footer .btn-stumbleupon:active,
.rg-footer .btn-stumbleupon:hover,
.rg-footer .btn-twitter:active,
.rg-footer .btn-twitter:hover {
  background: #345578;
  color: #85C2F8;
}
.rg-footer .btn-facebook {
  background: #5D7793;
}
.rg-footer .btn-googleplus {
  background: #7188A0;
}
.rg-footer .btn-linkedin {
  background: #486686;
}
.rg-footer .btn-stumbleupon {
  background: #5D7793;
}
.rg-footer .btn-twitter {
  background: #486686;
}
.rg-footer-part {
  padding-bottom: 1em;
  padding-top: 1em;
}
.rg-image {
  border-style: solid;
  border-width: thin;
  margin: 0.5em;
  padding: 0.5em;
  width: auto;
}
.rg-image img {
  margin: 0;
  max-width: 30em;
  padding: 0;
}
.rg-image p {
  font-style: italic;
  font-weight: 600;
  font-size: 0.9em;
  padding-top: 0.5em;
}
.rg-prompt {
  background-color: #ffffcc;
  border-style: none;
  border-radius: 1em;
  margin: 0.5em;
  padding: 0.5em;
  width: auto;
}
.rg-xbox {
  background-color: #f0f0f0;
  margin: 0.5em;
  padding: 0.5em;
  width: auto;
}
.rg-xbox-key p {
  margin: 0em;
  padding: 0.1em;
}
.rg-photo-clear {
  clear: both;
}
.rg-photo-left {
  float: left;
  margin: 0.5em;
}
.rg-photo-left img {
  margin: 0;
  padding: 0;
}
.rg-photo-left p {
  padding-top: 0.5em;
}
.rg-photo-right {
  float: right;
  margin: 0.5em;
}
.rg-photo-right img {
  margin: 0;
  padding: 0;
}
.rg-photo-right p {
  padding-top: 0.5em;
}
.rg-table table {
  padding: 0.5em;
  width: auto;
}
.rg-table td,
th {
  padding: 0.5em;
  white-space: normal;
  width: auto;
}
.rg-table-triple table {
  padding: 0.5em;
  width: auto;
}
.rg-table-triple td,
th {
  padding: 0.5em;
  white-space: normal;
  width: auto;
}
.rg-table-triple th {
  text-align: center;
}
/* RDAReg CSS */
/* Stylesheet for RDA Registry */
/* Display of detail in datatable */
a,
a:link {
  cursor: pointer
}
body {
  padding-top: 60px
}
table tfoot th,
table tbody th {
  border-top: 1px solid #ddd
}
footer {
  padding-bottom: 30px
}

td.details-control {
  background: url('details_open.png') no-repeat center .5em;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('details_close.png') no-repeat center .5em;
}

table.pindex_detail div.vcanon {
  display: inline;
}

table.pindex_detail div.vurllabel {
  display: inline;
  padding-left: .5em;
}

div.pindex_filter img.delete {
  vertical-align: middle;
  cursor: pointer;
  padding-left: .5em;
}

td.permalink {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

.not-active {
  cursor: default;
  color: Gray !important;
}
#pindex {
  /*     white-space: nowrap; */
}
.pindex_detail tr {
  border: none !important;
}
.pindex_detail {
  margin-left: 2em;
}
.pindex_detail td {
  white-space: nowrap;
}
#pindex .definition {
  /* width: 100%; */
  white-space: normal;
}

table.pindex_detail td.definition {
  padding-left: 1em;
  white-space: normal;
}

.vurllabel {
  white-space: normal;
  min-width: 12em;
}
