<!-- Scripts-->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/vendor/log.js"></script>
<script src="/bower_components/modernizr/modernizr.js"></script>
<script src="/bower_components/trunk8/trunk8.js"></script>
{% if page.datatable == true %}
<script src="/bower_components/datatables.net/js/jquery.dataTables.min.js">></script>
<script src="/bower_components/protip/protip.min.js"></script>
<script src="/scripts/valueScript.js"></script>
{% endif %}
