<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    {% if page.datatable == true %}
    <link rel="stylesheet" href="/bower_components/datatables/media/css/dataTables.bootstrap.min.css">
    {% endif %}
</head>
<body>
{% include topnav.html %}
<!-- Page Content -->
<div class="container">
    <section id="content" class="content">
        <article id="page" class="page">
            <div class="page-content">
                <div class="rg-pagecontent">
                    {{content}}
                </div>
            </div>
        </article>
    </section>
    {% include footer.html %}
</div>
{% include scripts.html %}

</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}
</html>
