---
layout: default
---
{% assign lexical = page.id | split: "/" | last %}

{% for org_hash in site.data.terms %}
  {% if org_hash[0] == lexical %}
    {% assign org = org_hash[1] %}
    {% assign concept = org["@graph"][0] %}
  {% endif %}
{% endfor %}
{% assign pageTitle = concept.title.en %}
{% assign pageDescription = concept.description.en %}
{% assign regID = concept.api | split: "/" | last %}
{% assign pageRDF = concept['@id'] %}
{% capture namespace %}{{pageRDF}}/{% endcapture %}
{% if page.datatable == true %}
<script type="text/javascript">
    var dataSource = "/data/terms/{{lexical}}.json";
    var prefix = '{{concept.prefix}}';
    var vocabNamespace = "{{namespace}}"
</script>
{% endif %}
<div class="post-content">
    <h1>RDA value vocabularies</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="rgelement-title">
                <h2>{{pageTitle}}</h2>
            </div>
            <div class="rgelement-description">
                <p>{{pageDescription}}</p>
            </div>
            <div class="rgelement-reference">
                <table>
                    <tr>
                        <td>Number of concepts:</td>
                        <td>{{concept.count}}</td>
                    </tr>
                    <tr>
                        <td>URI:</td>
                        <td>{{concept['@id']}}</td>
                    </tr>
                    <tr>
                        <td>Namespace:</td>
                        <td>{{namespace}}</td>
                    </tr>
                    <tr>
                        <td>Suggested prefix*:</td>
                        <td>{{concept.prefix}}</td>
                    </tr>
                    <tr>
                        <td>Example curie:</td>
                        <td>{{concept.prefix}}:1001</td>
                    </tr>
                    <tr>
                        <td>Changelog feed:</td>
                        <td>
                            <a href="http://metadataregistry.org/history/feed/vocabulary_id/{{regID}}.atom">Atom</a>
                            | <a href="http://metadataregistry.org/history/feed/vocabulary_id/{{regID}}.rdf">RDF</a>
                        </td>
                    </tr>
                </table>
                <p>* registered at <a href="http://prefix.cc" target="_blank">prefix.cc</a></p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="rgelement-download">
                <h3>Downloads</h3>
                <ul>
                    <li><a href="http://metadataregistry.org/vocabulary/show/id/{{regID}}.html">HTML (Open
                        Metadata Registry)</a></li>
                    <li><a href="http://rdaregistry.info/termList/{{lexical}}.ttl">Turtle
                        (text/turtle)</a></li>
                    <li><a href="http://rdaregistry.info/termList/{{lexical}}.n3">Notation 3
                        (text/rdf+n3)</a></li>
                    <li><a href="http://rdaregistry.info/termList/{{lexical}}.nt">N-Triples
                        (text/rdf+nt)</a></li>
                    <li><a href="http://rdaregistry.info/termList/{{lexical}}.xml">RDF/XML
                        (application/rdf+xml)</a></li>
                    <li><a href="http://rdaregistry.info/termList/{{lexical}}.rdfa">RDFa</a></li>
                    <li><a href="http://rdaregistry.info/termList/{{lexical}}.microdata">Microdata
                        (text/microdata+html)</a></li>
                    <li><a href="http://rdaregistry.info/termList/{{lexical}}.json-ld">JSON-LD
                        (application/json | application/json+ld)</a> (see the <a
                            href="https://github.com/RDARegistry/RDA-Vocabularies/blob/master/json-ld/termList/_readme.md">Readme</a>)
                    </li>
                    <li><a href="http://rdaregistry.info/termList/{{lexical}}.rdf-json">RDF/JSON
                        (application/rdf+json)</a></li>
                </ul>
            </div>
            {% if concept.languages %}
            <div class="rgelement-languages">
                <h3>Languages</h3>
                <ul id="langList">
                    {% for lang in concept.languages %}
                    {% if lang.version == "WIP" %}
                    <li><a title="Work In Progress" aria-disabled="true" disabled="disabled" class="not-active">{{lang.lang}}</a></li>
                    {% else %}
                    <li><a href="{{ page.url }}?language={{lang.code}}"
                           title="Source Version: {{lang.source}}
Current Version: {{lang.version}}">{{lang.lang}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Values Index</h2>
            </div>
            <div id="tabledata">
                <table class="table" id="pindex">
                    <thead>
                    <tr>
                        <th class="protip" data-pt-scheme="aqua" data-pt-delay-in=500
                            data-pt-position="left" data-pt-gravity=true
                            data-pt-title="<p>This column contains the permalink for the documentation for the element in this row.</p><p>Note: It is <emphasis>not</emphasis> the URI for the element.</p>"
                            style="padding-right: 10px;padding-left: 10px !important;"> #
                        </th>
                        <th style="padding-right: 0;padding-left: 0 !important;"></th>
                        <th class="protip" data-pt-scheme="aqua" data-pt-delay-in=500
                            data-pt-position="left" data-pt-gravity=true
                            data-pt-title="<p>This column contains the CURIE for the element. </p><p>The link associated with the curie is the canonical URI. </p>">
                            CURIE
                        </th>
                        <th class="protip" data-pt-scheme="aqua" data-pt-delay-in=500
                            data-pt-position="left" data-pt-gravity=true
                            data-pt-title="<p>This column contains the preferred label for the concept. </p><p>The link associated with the label is the English lexical alias.</p>">
                            Label
                        </th>
                        <th class="protip" data-pt-scheme="aqua" data-pt-delay-in=500
                            data-pt-position="left" data-pt-gravity=true
                            data-pt-title="<p>This column contains the Definition of the Concept.</p><p>You probably figured that out on your own.</p><p>It's also worth mentioning that clicking on any of the column headings will sort the table by that column.</p>">
                            Definition
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>
</div>
{{site.data.alerts.hr_shaded}}
