---
layout: default
---
{% assign lexical = page.name | remove: '.html' %}
<div class="post-content">
    <h1>RDA value vocabularies</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="rgelement-title">
                <h2>{{page.title}}</h2>
            </div>
            <div class="rgelement-description">
                <p>{{page.description}}</p>
            </div>
            <div class="rgelement-reference">
                <table>
                    <tr>
                        <td>Number of concepts:</td>
                        <td>{{page.count}}</td>
                    </tr>
                    <tr>
                        <td>Namespace:</td>
                        <td>http://rdaregistry.info/termList/{{lexical}}/</td>
                    </tr>
                    <tr>
                        <td>Suggested prefix*:</td>
                        <td>{{page.prefix}}</td>
                    </tr>
                    <tr>
                        <td>Example curie:</td>
                        <td>{{page.prefix}}:1001</td>
                    </tr>
                    <tr>
                        <td>Changelog feed:</td>
                        <td>
                            <a href="http://metadataregistry.org/history/feed/vocabulary_id/{{page.feedId}}.atom">Atom</a>
                            | <a href="http://metadataregistry.org/history/feed/vocabulary_id/{{page.feedId}}.rdf">RDF</a>
                        </td>
                    </tr>
                </table>
                <p>* registered at <a href="http://prefix.cc" target="_blank">prefix.cc</a></p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="rgelement-download">
                <h3>Downloads</h3>
                <ul>
                    <li><a href="http://metadataregistry.org/vocabulary/show/id/{{page.feedId}}.html">HTML (Open
                        Metadata Registry)</a></li>
                    <li><a href="http://rdaregistry.info/termList/{{lexical}}.ttl">Turtle
                        (text/turtle)</a></li>
                    <li><a href="http://rdaregistry.info/termList/{{lexical}}.n3">Notation 3
                        (text/rdf+n3)</a></li>
                    <li><a href="http://rdaregistry.info/termList/{{lexical}}.nt">N-Triples
                        (text/rdf+nt)</a></li>
                    <li><a href="http://rdaregistry.info/termList/{{lexical}}.xml">RDF/XML
                        (application/rdf+xml)</a></li>
                    <li><a href="http://rdaregistry.info/termList/{{lexical}}.rdfa">RDFa</a></li>
                    <li><a href="http://rdaregistry.info/termList/{{lexical}}.microdata">Microdata
                        (text/microdata+html)</a></li>
                    <li><a href="http://rdaregistry.info/termList/{{lexical}}.json-ld">JSON-LD
                        (application/json | application/json+ld)</a> (see the <a
                            href="https://github.com/RDARegistry/RDA-Vocabularies/blob/master/json-ld/termList/_readme.md">Readme</a>)
                    </li>
                    <li><a href="http://rdaregistry.info/termList/{{lexical}}.rdf-json">RDF/JSON
                        (application/rdf+json)</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{site.data.alerts.hr_shaded}}
