@charset "utf-8";
/* RDAGit CSS */
.list-alpha-lower {
	list-style-type: lower-alpha;	
}
.navbar-nav li {
	font-weight: 600;
}
.page-content .rg-pagecontent a,
.rg-footer a {
	color: #0033CC;
}
.rg-footer .date-updated {
	font-style: italic;
	font-size: 0.9em;
}
.page-content .rg-pagecontent a:hover,
.page-content .rg-pagecontent a:focus,
.rg-footer a:hover,
.rg-footer a:focus {
  color: #3399f3;
}
.page-content .rg-pagecontent h1 {
		font-size: 1.6em;
}
.page-content .rg-pagecontent h2 {
		font-size: 1.4em;
}
.page-content .rg-pagecontent h3 {
		font-size: 1.2em;
}
.page-content .rg-pagecontent img {
		margin: 1em;
}
.page-content .rg-pagecontent tr {
	border-bottom-style: solid;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}
.page-content .rg-pagecontent .rgelement-reference td {
	padding-left: 1em;
}
.page-content .rg-pagecontent .faq-a {
}
.page-content .rg-pagecontent .faq-q {
	font-style: italic;
	font-weight: 600;
}
.rg-footer {
	margin-top: 2em;
}
.navbar-inverse {
  border: 1px solid #345578;
}
.navbar-inverse {
  background-color: #446e9b;
  border-color: #345578;
}
.navbar-inverse .navbar-brand {
  color: #dddddd;
}
.navbar-inverse .navbar-text {
  color: #dddddd;
}
.navbar-inverse .navbar-toggle {
  border-color: #345578;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #345578;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #345578;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #345578;
  }
}
.navbar-inverse .navbar-nav > li > a {
  color: #dddddd;
}
