@charset "utf-8";
/* RDAGit CSS */
/* Bower Bootstrap */
.list-alpha-lower {
	list-style-type: lower-alpha;	
}
.navbar-nav li {
	font-weight: 600;
}
.navbar-inverse {
  border: 1px solid #345578;
}
.navbar-inverse {
  background-color: #446e9b;
  border-color: #345578;
}
.navbar-inverse .navbar-brand {
  color: #FFFFFF;
}
.navbar-inverse .navbar-text {
  color: #FFFFFF;
}
.navbar-inverse .navbar-toggle {
  border-color: #345578;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #345578;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #345578;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #345578;
  }
}
.navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF;
}
.page-content .rg-pagecontent a,
.rg-footer a {
	color: #0033CC;
}
.rg-footer .date-updated {
	font-style: italic;
	font-size: 0.9em;
}
#pindex {
    white-space: nowrap;
}
.pindex_detail tr {
	border: none !important;
}
.pindex_detail {
	margin-left: 2em;
}
.pindex_detail td {
    white-space: nowrap;
}
#pindex .definition{
    /* width: 100%; */
    white-space: normal;
}

table.pindex_detail td.definition {
    padding-left: 1em;
    white-space: normal;
}

.vurllabel {
    white-space: normal;
    min-width: 12em;
}
.page-content .rg-pagecontent a:hover,
.page-content .rg-pagecontent a:focus,
.rg-footer a:hover,
.rg-footer a:focus {
  color: #3399f3;
}
.page-content .rg-pagecontent h1 {
		font-size: 1.6em;
}
.page-content .rg-pagecontent h2 {
		font-size: 1.4em;
}
.page-content .rg-pagecontent h3 {
		font-size: 1.2em;
}
.page-content .rg-pagecontent img {
		margin: 1em;
}
.page-content .rg-pagecontent dl dd {
	margin-left: 1em;
}
.page-content .rg-pagecontent dl dt {
	font-weight: bold;
}
.page-content .rg-pagecontent tr {
	border-bottom: 1px solid gray;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}
.page-content .rg-pagecontent .rgelement-reference td {
	padding-left: 1em;
}
.page-content .rg-pagecontent .faq-a {
}
.page-content .rg-pagecontent .faq-q {
	font-style: italic;
	font-weight: 600;
}
.page-content .rg-pagecontent .listalphau {
	list-style-type: upper-alpha;
}
.rg-footer {
	margin-top: 2em;
}
/* Social sharing */
.rg-footer .btn-facebook:link, .rg-footer .btn-facebook:visited,
.rg-footer .btn-googleplus:link, .rg-footer .btn-googleplus:visited,
.rg-footer .btn-linkedin:link, .rg-footer .btn-linkedin:visited,
.rg-footer .btn-stumbleupon:link, .rg-footer .btn-stumbleupon:visited,
.rg-footer .btn-twitter:link, .rg-footer .btn-twitter:visited {
  color: #FFFFFF;
}
.rg-footer .btn-facebook:active, .rg-footer .btn-facebook:hover,
.rg-footer .btn-googleplus:active, .rg-footer .btn-googleplus:hover,
.rg-footer .btn-linkedin:active, .rg-footer .btn-linkedin:hover,
.rg-footer .btn-stumbleupon:active, .rg-footer .btn-stumbleupon:hover,
.rg-footer .btn-twitter:active, .rg-footer .btn-twitter:hover {
  background: #345578;
  color: #85C2F8;
}
.rg-footer .btn-facebook {
  background: #5D7793;
}
.rg-footer .btn-googleplus {
  background: #7188A0;
}
.rg-footer .btn-linkedin {
  background: #486686;
}
.rg-footer .btn-stumbleupon {
  background: #5D7793;
}
.rg-footer .btn-twitter {
  background: #486686;
}
.rg-footer-part {
  padding-bottom: 1em;
  padding-top: 1em;
}
.rg-image {
  margin: 0.5em;
}
.rg-image img {
 margin: 0;
 padding: 0;
}
.rg-image p {
 font-style: italic;
 font-weight: 600;
 font-size: 0.9em;
 padding-top: 0.5em;
}
.rg-photo-clear {
 clear: both;
}
.rg-photo-left {
 float: left;
 margin: 0.5em;
}
.rg-photo-left img {
 margin: 0;
 padding: 0;
}
.rg-photo-left p {
 padding-top: 0.5em;
}
.rg-photo-right {
 float: right;
 margin: 0.5em;
}
.rg-photo-right img {
 margin: 0;
 padding: 0;
}
.rg-photo-right p {
 padding-top: 0.5em;
}
.rg-table table {
 width: auto;	
}
.rg-table td, th {
 white-space: normal;
 width: auto;
}
.rgelement-languages {
}
#langList {padding-left: 20px;}
#langList li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
